html {
	padding: 0;
	margin: 0;
}
body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	padding: 0;
	margin: 0;
	background-color: #ecf0f1;
}

nav {
	top: 0;
	height: 30px;
	padding: 0;
	margin: 0;
	text-align: center;
	background-color: #2c3e50;
	color: rgba(150,150,150,0.5);
	box-shadow: 0px 0px 28px 0px rgba(50, 50, 50, 0.5);
}

nav .container {
	display: flex;
	align-items: center;
	justify-content: center;
}

nav h1 {
	padding: 0;
	margin: 0;
}

main .container {
	padding: 10px;
	background-color: #fff;
	margin: 5% 5%;
	text-align: center;
	box-shadow: 0px 0px 28px 0px rgba(50, 50, 50, 0.5);
	border-color: #aaa;
	border-style: solid;
	border-width: 1px;
}

.metrics-fbox {
	display: flex;
	justify-content: space-around;
}

.metric {
	font-size: 14px;
	border-color: #aaa;
	background-color: #eee;
	border-style: solid;
	border-width: 1px;
	padding: 10px;
	margin:5px;
	color: #666;
	box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
}

footer {
	text-align: center;
	position: relative;
	bottom:20;
	color:#666;
	padding-bottom: 5px;
}

.footer {
	font-size: 10px;
	line-height: auto;
}

canvas {
	size: 10;	
	max-width: 100%;
	min-width:100%;
	height: 500px;
}